body{background-color: rgb(248, 240, 223); font-size: large; }
p,ul,li,nav{list-style-position: inside;text-align: center;}
img, h1 {display: inline-block;}
h1 {float: left;}
table,tr,th{text-align: center;}


